<div class="image-container w-10 h-10 xs:w-11 xs:h-11 sm:w-12 sm:h-12 md:w-14 md:h-14 relative">
  <img 
    class='w-7 h-7 xs:w-8 xs:h-8  sm:h-9 sm:w-9 md:h-10 md:w-10 rounded-full bg-white absolute bottom-0 left-0 sm:bottom-0 sm:left-0 z-20'
    src="{{users[0].profilePic}}" 
    alt="{{users[0].username}}" 
    title={{users[0].username}}
  />
  <img 
    class='w-7 h-7 xs:w-8 xs:h-8 sm:h-9 sm:w-9  md:h-10 md:w-10 rounded-full bg-white absolute right-0 top-0 sm:right-0 sm:top-0 z-10' 
    src="{{users[1].profilePic}}" 
    alt="{{users[1].username}}" 
    title={{users[1].username}}
  />
</div>